<!DOCTYPE html>
<html>

<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="static/sat1.css">
</head>

<body>
	<header class="fixed-header">
		<div class="logo">
			<img src="static/logo.png" alt="Logo">
		</div>
		<div class="company-name">
			Barcode Genrator
		</div>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="contact.html">Contact Us</a></li>
				<li><a href="Signup.html">Signup</a></li>

			</ul>
		</nav>
	</header>
	<br><br><br><br>
	<main>
		<div class="container">
			<h1 class="w">Sign In</h1>
			<form action="login.html" method="post">
			<div class="error">{{use}}</div>
			  <input type="text" placeholder="Username" name="username" required>
			  <input type="password" placeholder="Password" name="pass" required>
			<div class="error">{{err}}</div>
			  <button type="submit">Sign In</button>
			</form>
			<p class="w">Don't have an account? <a href="Signup.html" class="w">Sign Up</a></p>
		</div>


		



	</main>
	<br><br><br><br>
	<footer>
		<div class="copyright">
			&copy; Barcode Genrator. All Rights Reserved.
		</div>
	</footer>

</body>

</html>